<router-outlet></router-outlet>
<!-- *ngIf="isLangLoaded" -->
<div [class.english]="lang.dir === 'ltr'" [class.arabic]="lang.dir === 'rtl'">
  <div>{{"website" | translate}}</div>
  <div>
    <div class="logo">
      <h1>{{'header.siteName' | translate}}</h1>
    </div>
    <ul>
      <li>{{'header.menu.home' | translate}}</li>
      <li>{{'header.menu.about' | translate}}</li>
    </ul>
  </div>
  <div>
    <!-- <button class="btn-lang" [class.active]="lang.code === currentLangCode"
    (click)="onLangSelected(lang.code)"
    *ngFor="let lang of languages">{{"languages."+lang.name | translate}}</button> -->
    <button class="btn-lang" [class.active]="lang.code === currentLangCode"
    (click)="onLangSelected(lang.code)"
    *ngFor="let lang of languages">{{lang.name | translate}}</button>
  </div>
</div>

